






/*****************************************************
	=주메뉴 영역
	=common
*****************************************************/
#menuTopUI a{
	display: block;
	font-family: 		"돋움",dotum;
	font-size: 			12px;
	text-align: 		left;
	color:				#000;
	border-style: 		solid;
	border-width: 		0;
	margin: 			0;
	padding:	 		0;

}
#menuTopUI a:hover,
#menuTopUI a.active{
	color:				#000;

}
#menuTopUI ul#top_k2wiz_GNB div{
	display: none;
}

/*****************************************************
	=주메뉴 영역
	=기본 CSS
*****************************************************/
/*1단계 영역 공통*/
#menuTopUI div#top_div{
	
	
	width: 				900px;
	height: 			;
	margin: 			0;
	padding: 			0;
	border-width: 		0;
	border-style: 		solid;
	
	
	
	/*1차메뉴의 경우 position값이 필요 없음*/
}
#menuTopUI #top_div ul#top_k2wiz_GNB{
	position: relative;
}
#menuTopUI #top_div ul#top_k2wiz_GNB li.li_1{
	position: relative;/*고정값*/
	
	
	float: left;
	
	
	
}

/*2단계 영역 공통*/
#menuTopUI div.div_2{


	position: absolute;
	width: 				900px;
	height: 			;
	margin: 			0;
	padding: 			0;
	border-width: 		0;
	border-style: 		solid;
	left: 				0;



}
#menuTopUI ul#top_k2wiz_GNB li ul{
	position: relative;
}
#menuTopUI ul#top_k2wiz_GNB li ul li.li_2{
	position: relative;/*고정값*/
	
	
	float: left !important;
	
	
	
}

/*3단계 영역 공통*/
#menuTopUI div.div_3{
	
	
	
	
}
#menuTopUI ul#top_k2wiz_GNB li ul li.li_2 ul.ul_3{
	position: relative;
}
#menuTopUI ul#top_k2wiz_GNB li ul li.li_2 ul.ul_3 li.li_3{
	position: relative;/*고정값*/
	
	
	
	
}
	

/*****************************************************
	=주메뉴 영역
	=영역 개별속성
*****************************************************/

#menuTopUI #top_div_306461
 {
	
 	width: 				246px !important;
 	
 	
 	
 	
	
	background-color: #6CC8BC !important;
	
	
	
	
	left: 				20px  !important;
	
	margin: 			5px 0px 0px 0px  !important;
	padding: 			0px 0px 0px 5px  !important;
	border-width: 		0px 0px 0px 0px !important;
	border-color: 		     !important;
	border-style: 		solid;
 }
#menuTopUI ul#top_k2wiz_GNB_ul_306461{
}

#menuTopUI #top_div_306469
 {
	
 	width: 				200px !important;
 	
 	
 	
 	
	
	background-color: #6CC8BC !important;
	
	
	
	
	left: 				-25px  !important;
	
	margin: 			5px 0px 0px 55px  !important;
	padding: 			0px 0px 0px 5px  !important;
	border-width: 		0px 0px 0px 0px !important;
	border-color: 		     !important;
	border-style: 		solid;
 }
#menuTopUI ul#top_k2wiz_GNB_ul_306469{
}

#menuTopUI #top_div_306471
 {
	
 	width: 				300px !important;
 	
 	
 	
 	
	
	background-color: #6CC8BC !important;
	
	
	
	
	left: 				-25px  !important;
	
	margin: 			5px 0px 0px 55px  !important;
	padding: 			0px 0px 0px 5px  !important;
	border-width: 		px px px px !important;
	border-color: 		     !important;
	border-style: 		solid;
 }
#menuTopUI ul#top_k2wiz_GNB_ul_306471{
}

#menuTopUI #top_div_306473
 {
	
 	width: 				300px !important;
 	
 	
 	
 	
	
	background-color: #6CC8BC !important;
	
	
	
	
	left: 				-25px  !important;
	
	margin: 			5px 0px 0px 55px  !important;
	padding: 			0px 0px 0px 5px  !important;
	border-width: 		px px px px !important;
	border-color: 		     !important;
	border-style: 		solid;
 }
#menuTopUI ul#top_k2wiz_GNB_ul_306473{
}

#menuTopUI #top_div_306475
 {
	
 	width: 				200px !important;
 	
 	
 	
 	
	
	background-color: #6CC8BC !important;
	
	
	
	
	left: 				10px  !important;
	
	margin: 			5px 0px 0px 20px  !important;
	padding: 			0px 0px 0px 5px  !important;
	border-width: 		0px 0px 0px 0px !important;
	border-color: 		     !important;
	border-style: 		solid;
 }
#menuTopUI ul#top_k2wiz_GNB_ul_306475{
}

#menuTopUI #top_div_306612
 {
	
 	width: 				240px !important;
 	
 	
 	
 	
	
	background-color: #6CC8BC !important;
	
	
	
	
	left: 				-30px  !important;
	
	margin: 			5px 0px 0px 20px  !important;
	padding: 			0px 0px 0px 5px  !important;
	border-width: 		px px px px !important;
	border-color: 		     !important;
	border-style: 		solid;
 }
#menuTopUI ul#top_k2wiz_GNB_ul_306612{
}

#menuTopUI #top_div_306618
 {
	
 	width: 				500px !important;
 	
 	
 	
 	
	
	background-color: #6CC8BC !important;
	
	
	
	
	left: 				-350px  !important;
	
	margin: 			5px 0px 0px 20px  !important;
	padding: 			0px 0px 0px 5px  !important;
	border-width: 		0px 0px 0px 0px !important;
	border-color: 		     !important;
	border-style: 		solid;
 }
#menuTopUI ul#top_k2wiz_GNB_ul_306618{
}

	

/*****************************************************
	=주메뉴 영역
	=동일 그룹, 동일 단계, 개별 메뉴
	=개별메뉴속성
*****************************************************/


	
	
	
		
	
		
	
		
	
		
	
		
	
		
	
		
	



	/* 동일 그룹 */
	#menuTopUI ul.ul_1 li.li_1 a.a_1


{
	
	
	
		font-family: 		"Nanum Gothic" ;
		font-size: 			16px ;
		
		font-weight:bold;
		
		
		
		text-align: 		left ;
		color:				 ;
		background: 		url("")  no-repeat left top ;
		margin: 			0px 0px 0px 20px ;
		padding:	 		0px 0px 0px 15px ;
		border-style: solid;
		border-color: 		    ;
		border-width: 		0px 0px 0px 0px ;
	
	
	display: block;
	
	
}


	#menuTopUI ul.ul_1 li.li_1 a.a_1:hover,
	#menuTopUI ul.ul_1 li.li_1 a.a_1.active




{
	
	
	
	color:				#277EC5 ;
	background			:url("")  no-repeat left top ;
	
	
}

	
	
	
		
	
		
	
		
	
		
	
		
	
		
	
		
	



	/* 동일 그룹 */
	#menuTopUI ul.ul_2 li.li_2 a.a_2


{
	
	
	
		font-family: 		"Nanum Gothic" ;
		font-size: 			12px ;
		
		font-weight:bold;
		
		
		
		text-align: 		left ;
		color:				#FFFFFF ;
		background: 		url("")  no-repeat left top ;
		margin: 			0px 0px 0px 0px ;
		padding:	 		5px 5px 5px 10px ;
		border-style: solid;
		border-color: 		    ;
		border-width: 		0px 0px 0px 0px ;
	
	
	display: block;
	
	
}


	#menuTopUI ul.ul_2 li.li_2 a.a_2:hover,
	#menuTopUI ul.ul_2 li.li_2 a.a_2.active




{
	
	
	
	color:				#0C4A41 ;
	background			:url("")  no-repeat left top ;
	
	
}

/*****************************************************
	=서브타이틀메뉴 영역
*****************************************************/
.menuSubTitle{
	position: relative;
	min-height: 20px;
}

	
	


	.menuSubTitleUI_0_1


{
	/**/
	
	
	
		font-family: 		"Nanum Gothic" ;
		font-size: 			24px ;
		
		font-weight:bold;
		
		
		
		text-align: 		left ;
		color:				#FFFFFF ;
		background: 		url("./image/codyimage/snbTitle.png")  no-repeat left top ;
		margin: 			0px 0px 0px 0px ;
		padding:	 		30px 0px 0px 20px ;
		
		
		border-style: solid;
		border-color: 		    ;
		border-width: 		0px 0px 0px 0px ;
		
	
	
	
	width: 				160px ;
	
	
	height: 			50px ;
	
}



/*****************************************************
	=서브메뉴 영역
	=common
*****************************************************/
#menuSubUI a{
	display: block;
	font-family: 		"돋움",dotum;
	font-size: 			12px;
	text-align: 		left;
	color:				#000;
	border-style: 		solid;
	border-width: 		0;
	margin: 			0;
	padding:	 		0;
	/*
	width: 				px;
	height: 			px;
	*/
}
#menuSubUI a:hover,
#menuSubUI a.active{
	color:				#000;
}
#menuSubUI ul#sub_k2wiz_GNB div{
	display: none;
}

/*****************************************************
	=서브메뉴 영역
	=기본 CSS
*****************************************************/
/*1단계 영역 공통*/
#menuSubUI .div_1{
	
	
	width: 				150px;
	height: 			;
	margin: 			0;
	padding: 			0;
	border-width: 		0;
	border-style: 		solid;
	
	
	/*1차메뉴의 경우 position값이 필요 없음*/
}
#menuSubUI .div_1 ul#sub_k2wiz_GNB{
	position: relative;
}
#menuSubUI .div_1 ul#sub_k2wiz_GNB li.li_1{
	position: relative;/*고정값*/
	
	
	display: block;
	_display: inline-block;
	
	
}

/*2단계 영역 공통*/
#menuSubUI div.div_2{
	
	
		
		
		
		position: relative;
		
		
		width: 				100%;
		margin: 			0;
		padding: 			0;
		border-width: 		0;
		border-style: 		solid;
		
		/*2단계 세로메뉴의 경우, positon설정이 필요 없음*/
	
	
}
#menuSubUI ul#sub_k2wiz_GNB li ul{
	position: relative;
}
#menuSubUI ul#sub_k2wiz_GNB li ul li.li_2{
	position: relative;/*고정값*/
	
	
	display: block !important;
	
	
}

/*3단계 영역 공통*/
#menuSubUI div.div_3{
	
	
	
	
}
#menuSubUI ul#sub_k2wiz_GNB li ul li.li_2 ul.ul_3{
	position: relative;
}
#menuSubUI ul#sub_k2wiz_GNB li ul li.li_2 ul.ul_3 li.li_3{
	position: relative;/*고정값*/
	
	
	
}

/*****************************************************
	=서브메뉴 영역
	=영역 개별속성
*****************************************************/

/*****************************************************
	=서브메뉴 영역
	=동일 그룹, 동일 단계, 개별 메뉴
	=개별메뉴속성
*****************************************************/




	

	
 


	
	
	
	

/*[2][2]*/


	/* 동일 단계  */
	#menuSubUI ul.ul_1 li.li_1 a.a_1


{	
	
	
	font-family: 		"Nanum Gothic" ;
	font-size: 			14px ;
	
	
	
	text-align: 		left ;
	color:				#333333 ;
	background: 		url("./image/codyimage/snb_out.png")  no-repeat left top ;
	margin: 			0px 0px 0px 0px ;
	padding:	 		10px 5px 10px 20px ;
	border-style: solid;
	border-color: 		  #D0D0D0  ;
	border-width: 		0px 0px 0px 0px ;
	
	
	
	
	width: 				165px ;
	
	
	height: 			25px ;
	
}


	#menuSubUI ul.ul_1 li.li_1 a.a_1:hover,
	#menuSubUI ul.ul_1 li.li_1 a.a_1.active


{
	
	
	color:				#FFFFFF ;
	background			:url("./image/codyimage/snb_over.png")  no-repeat left top ;
	
	
}

	
	
	
	

/*[3][2]*/


	/* 동일 단계  */
	#menuSubUI ul.ul_2 li.li_2 a.a_2


{	
	
	
	font-family: 		"Nanum Gothic" ;
	font-size: 			12px ;
	
	
	
	text-align: 		left ;
	color:				#444444 ;
	background: 		url("./image/codyimage/s_m3_out.gif") #FFFFFF no-repeat left top ;
	margin: 			5px 0px 5px 0px ;
	padding:	 		0px 0px 0px 30px ;
	border-style: solid;
	border-color: 		    ;
	border-width: 		0px 0px 0px 0px ;
	
	
	
	
	width: 				150px ;
	
	
}


	#menuSubUI ul.ul_2 li.li_2 a.a_2:hover,
	#menuSubUI ul.ul_2 li.li_2 a.a_2.active


{
	
	
	color:				#277EC5 ;
	background			:url("./image/codyimage/s_m3_over.gif") #FFFFFF no-repeat left top ;
	
	
}

/*****************************************************
	=탭메뉴 영역
	=common
*****************************************************/

//** 추가 항목 ****************//
#menuTabUI {border-bottom:1px #bebebe solid;}
#menuTabUI ul{overflow:hidden; height:100%;}
//** 추가 항목 ****************//


#menuTabUI a{
	display: block;
	font-family: 		"돋움",dotum;
	font-size: 			12px;
	text-align: 		left;
	color:				#000;
	border-style: 		solid;
	border-width: 		0;
	margin: 			0;
	padding:	 		0;
	/*
	width: 				px;
	height: 			px;
	*/
}
#menuTabUI a:hover,
#menuTabUI a.active{
	color:				#000;
}
#menuTabUI ul#tab_k2wiz_GNB div{
	display: none;
}

/*****************************************************
	=탭메뉴 영역
	=기본 CSS
*****************************************************/
/*1단계 영역 공통*/
#menuTabUI .div_1{
	
	
	width: 				100%;
	height: 			;
	margin: 			0;
	padding: 			0;
	border-width: 		0;
	border-style: 		solid;
	
	
	/*1차메뉴의 경우 position값이 필요 없음*/
}
#menuTabUI .div_1 ul#tab_k2wiz_GNB{
	position: relative;
}
#menuTabUI .div_1 ul#tab_k2wiz_GNB li.li_1{
	position: relative;/*고정값*/
	
	
	float: left;
	
	
}

/*2단계 영역 공통*/
#menuTabUI div.div_2{



}
#menuTabUI ul#tab_k2wiz_GNB li ul{
	position: relative;
}
#menuTabUI ul#tab_k2wiz_GNB li ul li.li_2{
	position: relative;/*고정값*/
	
	
	
}

/*3단계 영역 공통*/
#menuTabUI div.div_3{
	
	
	
}
#menuTabUI ul#tab_k2wiz_GNB li ul li.li_2 ul.ul_3{
	position: relative;
}
#menuTabUI ul#tab_k2wiz_GNB li ul li.li_2 ul.ul_3 li.li_3{
	position: relative;/*고정값*/
	
	
	
}
/*****************************************************
	=탭메뉴 영역
	=영역 개별속성
*****************************************************/



/*****************************************************
	=탭메뉴 영역
	=동일 그룹, 동일 단계, 개별 메뉴
	=개별메뉴속성
*****************************************************/




	



	
	
	
	

/*[4][4]*/


	/* 동일 단계*/
	#menuTabUI ul.ul_1 li.li_1 a.a_1




{
	
	
	
	font-family: 		"Nanum Gothic" ;
	font-size: 			14px ;
	
	
	
	
	
	display:block;
	
	text-align: 		left ;
	color:				#8A8A8A ;
	background: 		url("") #EDEDED no-repeat left top ;
	margin: 			0px 5px 0px 0px ;
	padding:	 		5px 20px 0px 20px ;
	border-style: solid;
	border-color: 		#CDCDCD #CDCDCD #CDCDCD #CDCDCD ;
	border-width: 		1px 1px 1px 1px ;
	
	
	
	
	
	height: 			30px ;
	
}



	#menuTabUI ul.ul_1 li.li_1 a.a_1:hover,
	#menuTabUI ul.ul_1 li.li_1 a.a_1.active




{
	
	
	
	color:				#FFFFFF ;
	background			:url("") #5fafa5 no-repeat left top ;
	
	
}
